chromadb==0.5.0
langchain==0.2.16
langchain-chroma==0.1.1
langchain-community==0.2.17
langchain-core==0.2.41
langchain-ollama==0.1.0
langchain-postgres==0.0.9
langchain-text-splitters==0.2.4
# langsmith==0.1.57
mtgsdk==1.3.1
pgvector==0.2.5
# psycopg==3.2.1
# psycopg-pool==3.2.2
psycopg2-binary==2.9.9
pydantic==2.8.2
pydantic_core==2.20.1
pypdf==4.2.0
requests==2.31.0
SQLAlchemy==2.0.30
streamlit==1.35.0
